<div id="popup" style="display: block;">
    <div id="popup-container">
        <div class="logo">
            <img src="http://orion-aigle.ch/wp/wp-content/uploads/2020/06/logo_popup.png" alt="logo">
        </div>
        <div class="container">
            <div class="col-1">
                <h1>Tous les appartements<br>ont été vendus</h1>
                <p>Nous vous invitons à découvrir<br>toutes nos autres promotions<br>sur notre site pierreetoile.ch</p>
            </div>
            <div class="col-2">
                <div class="full-popup-image" style="background-image: url('http://orion-aigle.ch/wp/wp-content/uploads/2017/06/PE_ORION_pageaccueil_1-1.jpg')">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAKCAQAAAAeXLZtAAAAEUlEQVR42mNkIBIwjiqkr0IACmkAC6MMhfoAAAAASUVORK5CYII=">
                </div>
                <div class="col-left-img" style="background-image: url('http://orion-aigle.local/wp/wp-content/uploads/2017/05/salon-1.png')">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAKCAQAAAAeXLZtAAAAEUlEQVR42mNkIBIwjiqkr0IACmkAC6MMhfoAAAAASUVORK5CYII=">
                </div>
                <div class="col-right-img" style="background-image: url('http://orion-aigle.local/wp/wp-content/uploads/2017/06/PE_ORION_pageaccueil_2-e1496824747769.jpg')">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAKCAQAAAAeXLZtAAAAEUlEQVR42mNkIBIwjiqkr0IACmkAC6MMhfoAAAAASUVORK5CYII=">
                </div>
            </div>
        </div>
        <div class="container-bottom">
            <a class="btn-popup-link" href="http://www.pierreetoile.ch/promotion/promotions-actuelles/" title="Site pierreetoile.ch">nos promotions</a>
            <a class="close-popup" href="#" title="Fermer la popup">Continuer sur orion-aigle.ch</a>
        </div>
    </div>
</div>

<script>
    $(function(){
        $('#popup .close-popup').click(function(){
            $('#popup').hide();
        });
    });
</script>