/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    Created on : 11 oct. 2016, 15:57:43
    Author     : MEO
*/
section.smartcapture
{
    width: 100%;
    margin-bottom: 30px;
    
}
section.smartcapture div#logoSmartCapture
{
    display: block;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #aaa;
    @media @smartphones
    {
        padding-top: 20px;
    }
}
section.smartcapture div#logoSmartCapture img
{
    display: block;
    width: 60%;
    max-width: 60%;
    margin: 0 auto;
}
.wpcf7-response-output.wpcf7-validation-errors,
span.wpcf7-not-valid-tip
{
    color: red;   
}
.wpcf7-response-output.wpcf7-mail-sent-ok
{
    color: #889425;
    text-align: center;
    font-weight: bold;
}
.wpcf7 .screen-reader-response
{
    display: none;
}
form.wpcf7-form img.ajax-loader
{
    display: none !important;
}
form.wpcf7-form
{
    width: 100%;
    
}
.wpcf7-form input,
.wpcf7-form select
{
    width: 94%;
    padding: 10px 3%;
    border: 1px solid #efefef;
    background: transparent;
    outline: none;    
    -webkit-appearance: none;
    -moz-appearance: none;
    .mixin-border-radius(0,0,0,0)
}

#smartcapture-form  .wpcf7-form select
{
    width: 100%;
    margin-top: 5px;
}

#smartcapture-form .wpcf7-form,
#smartcapture-form .wpcf7-form p,
#smartcapture-form .wpcf7-form p input
{
    max-width: 100%; 
    max-width: 350px;
}

#smartcapture-form .wpcf7-form p
{
    margin-bottom: 10px;
}

#smartcapture-form .wpcf7-form p:last-child
{
    margin-bottom: 0;
}

#smartcapture-form
{
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

#smartcapture-form input.wpcf7-form-control.wpcf7-submit.submit-smart-capture,
#smartcapture-form #previous-page-button
{
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    width: 100%;
    background-color: @blue;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
}

#smartcapture-form #previous-page-button
{
    color: #000;
    display: block;
    padding: 10px 0;
    text-align: center;
    background-color: #efefef;
    text-decoration: none;
}
#smartcapture-form form.wpcf7-form .wpcf7-response-output,
#wpcf7-f4-o1 form.wpcf7-form .wpcf7-response-output
{
    text-align: center;
}
#smartcapture-form form.wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ok,
#wpcf7-f4-o1 form.wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ok
{
    color: @blue-light !important;
    font-weight: normal !important;
}
#smartcapture-form form.wpcf7-form div.wpcf7-validation-errors,
#wpcf7-f4-o1 form.wpcf7-form div.wpcf7-validation-errors
{
    border: 1px solid red !important;
}
#smartcapture-form form.wpcf7-form div.wpcf7-mail-sent-ok,
#wpcf7-f4-o1 form.wpcf7-form div.wpcf7-mail-sent-ok
{
    border: 1px solid @blue-light !important;
}

body.page-template-msc-attachment-request div.smartcapture-design-form
{
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background: -moz-linear-gradient(top,  rgba(3,16,47,1) 0%, rgba(20,40,73,0.3) 14%, rgba(35,60,95,0) 26%, rgba(125,185,232,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(3,16,47,1) 0%,rgba(20,40,73,0.3) 14%,rgba(35,60,95,0) 26%,rgba(125,185,232,0) 100%);
    background: linear-gradient(to bottom,  rgba(3,16,47,1) 0%,rgba(20,40,73,0.3) 14%,rgba(35,60,95,0) 26%,rgba(125,185,232,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03102f', endColorstr='#007db9e8',GradientType=0 );
}
body.page-template-msc-attachment-request img.logo-form
{
    display: block;
    width: 40%;
    margin: 1rem auto 2rem auto;
}