// Font family Lato
@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Lato-bold';
  src: url('fonts/Lato/Lato-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Lato-lighter';
  src: url('fonts/Lato/Lato-Light.ttf');
  font-weight: lighter;
}
@font-face {
  font-family: 'Lato-italic';
  src: url('fonts/Lato/Lato-LightItalic.ttf');
  font-weight: lighter;
}
// Font family Oswald
@font-face {
  font-family: 'Oswald';
  src: url('fonts/Oswald/Oswald-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Oswald-bold';
  src: url('fonts/Oswald/Oswald-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Oswald-lighter';
  src: url('fonts/Oswald/Oswald-Light.ttf');
  font-weight: lighter;
}