sub, sup {
  font-size: 10px !important;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;

  #popup-container {
    position: relative;
    z-index: 1002;
    width: 620px;
    margin: 200px auto 0 auto;
    padding: 30px 40px;
    color: #fff;
    background-color: #05264E;
    background: -webkit-radial-gradient(#008CCC, #05264E);
    background: -o-radial-gradient(#008CCC, #05264E);
    background: -moz-radial-gradient(#008CCC, #05264E);
    background: radial-gradient(#008CCC, #05264E);

    @media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
      width: 100%;
      height: 100%;
      margin: 0;
    }

    .logo {
      width: 219px;
      margin: 0 auto 75px auto;
    }
    .container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 28px;
        font-weight: 300;
        line-height: 40px;
        text-transform: uppercase;
        text-align: right;
        margin: 0;
        padding: 0;
        @media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
          text-align: center;
        }
      }

      p {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
        text-align: right;
        margin: 23px 0 0 0;
        padding: 0;
        @media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
          text-align: center;
        }
      }

      h1, p {
        color: white;
      }

      .col-1 {
        width: 55%;
        padding-right: 2.5%;
        margin-right: 2.5%;
        border-right: 1px solid white;

        @media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
          width: 100%;
          border-right: none;
          padding-right: 0;
          margin-right: 0;
          margin-bottom: 20px;
        }

      }

      .col-2 {
        width: 40%;
        display: flex;
        flex-wrap: wrap;

        @media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
          width: 100%;
          border-right: none;
        }

        img {
          width: 100%;
        }

        .full-popup-image {
          width: 100%;
          background-position: center;
          background-size: cover;
          margin-bottom: 8px;
        }

        .col-left-img {
          width: 48%;
          margin-right: 2%;
          background-size: cover;
          background-position: center;
        }

        .col-right-img {
          width: 48%;
          margin-left: 2%;
          background-size: cover;
          background-position: center;
        }
      }
    }

    .container-bottom {
      margin: 45px auto 0 auto;

      .btn-popup-link {
        display: block;
        background-color: #0097D8;
        padding: 20px 30px;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        width: 220px;
        margin: 5px auto 0 auto;
      }

      .close-popup {
        display: block;
        text-decoration: underline;
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        color: #fff;
        text-align: center;
        font-weight: normal;
        margin: 25px auto 0 auto;
      }
    }
  }
}