h1 {
	.titles();
	-webkit-font-smoothing: antialiased;
}
h2 {
	.sub-titles();
	-webkit-font-smoothing: antialiased;
}
h3 {
	.sub-sub-titles();
	-webkit-font-smoothing: antialiased;
}
h4 {
	-webkit-font-smoothing: antialiased;
}
p {
	.texts();
	-webkit-font-smoothing: antialiased;
}
span {
	-webkit-font-smoothing: antialiased;
}
a {
	-webkit-font-smoothing: antialiased;
}
main {
	width:@full;
}
.header-home-page {
	width: @full;
	position:absolute;
	top:0px;
	left:0px;
	z-index:1000;
	.header-inner {
		.center-layout();
		background: rgba(0,18,47,1);
		background: -moz-linear-gradient(top, rgba(0,18,47,1) 0%, rgba(0,18,47,0) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,18,47,1)), color-stop(100%, rgba(0,18,47,0)));
		background: -webkit-linear-gradient(top, rgba(0,18,47,1) 0%, rgba(0,18,47,0) 100%);
		background: -o-linear-gradient(top, rgba(0,18,47,1) 0%, rgba(0,18,47,0) 100%);
		background: -ms-linear-gradient(top, rgba(0,18,47,1) 0%, rgba(0,18,47,0) 100%);
		background: linear-gradient(to bottom, rgba(0,18,47,1) 0%, rgba(0,18,47,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00122f', endColorstr='#00122f', GradientType=0 );
		#logo-home {
			max-width:284px;
			margin:0px auto;
			@media @tablet-landscape {
				max-width: 192px;
			}
			@media @phones-portrait {
				max-width: 160px;
    			margin: 0px;
    			padding-left: 30px;
			}
			a {
				display:block;
				img {
					width:@full;
				}
			}
		}
		.phone-burger {
			display:none;
			@media @tablet-portrait {
				display:block;
			    position: absolute;
			    top: 71px;
			    right: 45px;
			}
			@media @phones-portrait {
			    top: 41px;
			    right: 30px;
			}
			#nav-icon3 {
			  width: 60px;
			  height: 57px;
			  position: relative;
			  transform: rotate(0deg);
			  transition: .5s ease-in-out;
			  cursor: pointer;
			  span {
			    display: block;
			    position: absolute;
			    height: 5px;
			    width: @full;
			    background: @white;
			    border-radius: 0px;
			    opacity: 1;
			    left: 0;
			    transform: rotate(0deg);
			    transition: .25s ease-in-out;
			    &:nth-child(1) {
			      top: 0px;
			    }
			    &:nth-child(2) {
			      top: 19px;
			    }
			    &:nth-child(3) {
			      top: 19px;
			    }
			    &:nth-child(4) {
			      top: 38px;
			    }
			  }
			}
			#nav-icon3.open {
			  span {
			    background: #fff !important;
			    &:nth-child(1) {
			      top: 19px;
			      width: 0%;
			      left: 50%;
			    }
			    &:nth-child(2) {
			      transform: rotate(45deg);
			    }
			    &:nth-child(3) {
			      transform: rotate(-45deg);
			    }
			    &:nth-child(4) {
			      top: 19px;
			      width: 0%;
			      left: 50%;
			    }
			  }
			}
		}
		nav {
			width: @full;
			margin-top:30px;
			@media @tablet-portrait {
			    margin-top: 0px;
			    padding: 0px;
			    z-index: 1000;
			    position: absolute;
			    top: 175px;
			    left: 0px;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,002e5f+100&0.5+0,1+100 */
				background: -moz-linear-gradient(top,  rgba(30,87,153,0.5) 0%, rgba(0,46,95,1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  rgba(30,87,153,0.5) 0%,rgba(0,46,95,1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  rgba(30,87,153,0.5) 0%,rgba(0,46,95,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#801e5799', endColorstr='#002e5f',GradientType=0 ); /* IE6-9 */
				
				max-height: 0em;
				height: auto;
				overflow: hidden;
				transition: all .5s ease;
		
				-webkit-overflow-scrolling: touch;
			}
			@media @phones-portrait {
				background:@blue-light;
			}
			ul {
				.flex-center();
				@media @tablet-portrait {
					display:block;
				}
				li {
					position: relative;
					list-style: none;
					padding: 0 12px 0px 12px;
					border-right:3px solid @white;
					line-height: 12px;
    				padding-top: 2px;
					&:after {
						padding-left: 12px;
					}
					&:last-child {
						border-right:0px;
					}
					.active {
						color:@grey-dark;
						@media @tablet-portrait {
							background:@blue-dark;
					    	color:@white;
					    	border-bottom:0px;
						}
					}
					@media @tablet-portrait {
						border-right:0px;
						padding:0px;
						padding-top:inherit;
						line-height:inherit;
					}
					ul {
						top: 100%;
						left: 0;
						width: 300%;
						background-color: white;
						padding: 1.5rem;
						padding-top: 3rem;
						display: none;
						position: absolute;
						li {
							width: 100%;
							text-align: center;
							display: block;
							border-right: none;
							padding-bottom: 1.5rem;
							&:last-child {
								padding-bottom: 0;
							}
						}
					}
					a {
						font-family: 'Oswald';
						font-weight:lighter;
						color: @white;
						text-transform: uppercase;
						font-size:19px;
						letter-spacing:0.05em;
						&:hover {
							text-decoration:none;
							color:@grey-dark;
							border-bottom: 3px solid;
							@media @tablet-portrait {
								background:@blue-dark;
						    	color:@white;
						    	border-bottom:0px;
							}
						}
						@media @tablet-landscape {
							font-size:16px;
						}
						@media @tablet-portrait {
							font-size: 25px;
					    	padding: 15px 45px;
					    	display: block;
					    	color:@white;
					    	&:after {
								content: "";
								padding-left: 0px;
							}
							&:hover {
								text-decoration:none;
								background:@blue-dark;	
								color:@white;
							}
					    }
					}
				}
			}
		}
		.open-menu {
		  max-height: ~"calc(100vh - 175px)";
		  height: 100%;
		}
	}
}
.fullHeight {
	height:@full;
}
.slider-home {
	width:@full;
	position:relative;
	.wrapper-slider {
		img {
			width:@full;
		}
	}
	.swiper-container {
		width: @full;
		height: @full;
	}
	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.logo-pierre-etoile {
		width:@full;
		position:absolute;
		bottom:0px;
		left:0px;
		z-index:100;
		@media @phones-portrait {
			position: relative;
		}
		.inner-bottom {
			width:@full;
			.center-layout();
			background: rgba(0,18,47,0);
			background: -moz-linear-gradient(top, rgba(0,18,47,0) 0%, rgba(0,18,47,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,18,47,0)), color-stop(100%, rgba(0,18,47,1)));
			background: -webkit-linear-gradient(top, rgba(0,18,47,0) 0%, rgba(0,18,47,1) 100%);
			background: -o-linear-gradient(top, rgba(0,18,47,0) 0%, rgba(0,18,47,1) 100%);
			background: -ms-linear-gradient(top, rgba(0,18,47,0) 0%, rgba(0,18,47,1) 100%);
			background: linear-gradient(to bottom, rgba(0,18,47,0) 0%, rgba(0,18,47,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00122f', endColorstr='#00122f', GradientType=0 );
			@media @phones-portrait {
				padding: 20px;
    			background: @blue-dark;
    			width:@full;
			}
			img {
				max-width: 344px;
				margin: 0 auto;
				display: block;
				padding-bottom: 30px;
				@media @phones-portrait {
					max-width:200px;
	    			width:@full;
	    			padding-bottom:0px;
				}
			}
		}
	}
}
.wrapper-content {
	.center-layout();
	padding:90px 30px;
	@media @between-landscape-portrait {
		padding:60px 30px;
	}
	@media @phones-portrait {
		padding:40px 15px;
	}
}
.two-cols {
	.flex-justify();
}
.one-third {
	width:@onecol;
	padding: 20px;
	@media @between-landscape-portrait {
		width:@full;
		margin-top: 15px;
	}
	img {
		width:@full;
		height:auto;
		margin-bottom:15px;
	}
	a {
		.btn();
		background:@blue-dark;
		display:block;
		margin-top:30px;
		width:@full;
		color:@white;
		font-size:25px;
	}
}
.two-third {
	width:@twocol;
	padding-right:15px;
	@media @between-landscape-portrait {
		width:@full;
		padding:0px 15px;
		margin-bottom: 15px;
	}

}
.bg-grey {
	background:@grey;
}



footer {
	background:@blue-dark;
	width:@full;
	color:@white;
	position:relative;
	padding-bottom: 160px;
	@media @phones-portrait {
		padding-bottom:60px;
	}
	.inner-footer {
		.center-layout();
		padding: 60px 60px 30px 60px;
		@media @phones-portrait {
			padding: 40px 30px 30px 30px;
		}
		.portrait {
			width:@full;
			.flex-center();
			align-items:@center;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
			padding: 60px 0px;
			margin-bottom:60px;
			.min-one {
				width: 43%;
				@media @between-landscape-portrait {
					width:@full;
				}
				.flex-one {
					.flex-justify();
					align-items:@center;
					@media @between-landscape-portrait {
						width:@full;
						.flex-center();
						margin-bottom:30px;
					}
					.image {
						width: 39%;
						img {
							border-radius: 50%;
							width: 148px;
							height: auto;
						}
						@media @between-landscape-portrait {
							width:auto;
							margin-right:15px;
						}
						@media @before-phones{
							width:@full;
							text-align:@center;
							margin-bottom:20px;
							margin-right:0px;
						}
					}
					.text {
						width: 57%;
						@media @between-landscape-portrait {
							width:auto;
							margin-left:15px;
						}
						@media @before-phones{
						    margin-left: 0px;
						    text-align: center;
						    width: 100%;
						}
						p, span, a {
							color: @white;
							line-height: 21px;
						}
						h4 {
							font-size: 22px;
							line-height: 26px;
							padding-top: 20px;
						}
						.tel {
							font-family: 'Lato-lighter';
						    font-size: 27px;
						    line-height: 27px;
						}
					}
					
				}

			}
			.min-two {
				width:10%;
				text-align:center;
				@media @between-landscape-portrait {
					width:@full;
					margin-bottom:30px;
				}
				span {
					font-family: 'Oswald-bold';
					color: @white;
					font-size: 25px;
				}
			}
			.min-three {
				width: 40%;
				align-items:@center;
				flex-direction:column;
				text-align:center;
				@media @between-landscape-portrait {
					width:@full;
				}
				a {
					color:@white;
					font-family: 'Lato-lighter';
					font-size:24px;
					@media @between-landscape-portrait {
						display:block;
					}
					@media @phones-portrait {
						font-size:20px;
					}
					@media @phones-320 {
						font-size:15px;
					}
				}
				.btn {
					.btn();
					margin-bottom:47px;
					@media @between-landscape-portrait {
						margin-bottom:10px;
					}
					@media @phones-portrait {
						width:@full;
						font-size:20px;
					}
					@media @phones-320 {
						font-size:15px;
					}
				}
			}
		}
	}
}
.three-col {
	width:@full;
	.flex-justify();
	.min-one {
		width:@oncol-padding;
		text-align:@center;
		@media @phones-portrait {
			width: @full;
    		text-align: @center;
    		margin-bottom: 30px;
    	}
		img {
			width:@full;
		}
		h4 {
			font-family: Oswald-lighter;
			font-size: 18px;
			line-height: 23px;
			padding-top: 10px;
		}
	}
}
.credits-footer {
	width:@full;
	position:absolute;
	bottom:0px;
	left:0px;
	background: rgba(0,46,95,1);
	background: -moz-linear-gradient(top, rgba(0,46,95,1) 0%, rgba(0,18,47,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,46,95,1)), color-stop(100%, rgba(0,18,47,1)));
	background: -webkit-linear-gradient(top, rgba(0,46,95,1) 0%, rgba(0,18,47,1) 100%);
	background: -o-linear-gradient(top, rgba(0,46,95,1) 0%, rgba(0,18,47,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,46,95,1) 0%, rgba(0,18,47,1) 100%);
	background: linear-gradient(to bottom, rgba(0,46,95,1) 0%, rgba(0,18,47,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002e5f', endColorstr='#00122f', GradientType=0 );
	.logo-footer {
		max-width: 344px;
		margin: 0 auto;
		display: block;
		padding-bottom: 30px;
		@media @phones-portrait {
			padding:0px 30px 30px 30px;
		}
		img {
			@media @phones-portrait {
				width:@full;
			}
		}
	}
}


