.header-page-interne {
	width:@full;
	position:fixed;
	top:0px;
	left:0px;
	z-index:1000;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#022e50+9,ffffff+70 */
background: rgb(2,46,80); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(2,46,80,1) 9%, rgba(255,255,255,1) 70%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(2,46,80,1) 9%,rgba(255,255,255,1) 70%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(2,46,80,1) 9%,rgba(255,255,255,1) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022e50', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */



	.header-inner {
		.center-layout();
		padding: 0px 30px 15px 30px;
		@media @tablet-portrait {
			background:@blue-dark;
			height:140px;
		}
		.header-top {
			width:@full;
			.flex-justify();
			align-items:flex-start;
			.header-batiement {
				padding-top: 20px;
				@media @tablet-portrait {
					display:none;
				}
				img {
					width:@full;
				}
			}
			#logo-home {
				max-width: 300px;
				position: absolute;
				top: 19px;
				left: 50%;
				margin-left: -150px;
				@media @between-landscape-portrait {
					max-width: 200px;
					margin-left: -110px;
					top:30px;
				}
				@media @phones-portrait {
				    margin-left: 0px;
				    top: 30px;
				    left: 30px;
				}
				@media @phones-320 {
					top: 50px;
					max-width:142px;
				}
				img {
					width:@full;
				}
			}
			.header-promo {
				font-family: 'Oswald-bold';
				font-weight:lighter;
				text-transform: uppercase;
				background:@blue-dark;
				padding:10px;
				border-bottom:1px solid @white;
				text-align:@center;
				padding: 22px 30px 13px 30px;
				position:relative;
				&:before, &:after {
					z-index: -1;
					position: absolute;
					content: "";
					bottom: 15px;
					left: 0px;
					width: 50%;
					top: 80%;
					max-width:300px;
					background: #777;
					box-shadow: 0 15px 10px rgba(0,0,0,1);
					transform: rotate(-3deg);
				}
				&:after {
					transform: rotate(3deg);
					right: 0px;
					left: auto;
				}
				@media @tablet-portrait {
					display:none;
				}
				.low {
					color:#0274c3;
					font-size:14px;
					display:block;
				}
				.mid {
					color:#0274c3;
					font-size:19px;
					display:block;
				}
				.high {
					color:@white;
					font-size:23px;
					display:block;
					line-height:26px;
				}
			}
		}
		.phone-burger {
			display:none;
			@media @tablet-portrait {
				display:block;
			    position: absolute;
			    top: 52px;
			    right: 35px;
			}
			@media @phones-portrait {
			    top: 52px;
			    right: 35px;
			}
			#nav-icon3 {
			  width: 60px;
			  height: 57px;
			  position: relative;
			  transform: rotate(0deg);
			  transition: .5s ease-in-out;
			  cursor: pointer;
			  span {
			    display: block;
			    position: absolute;
			    height: 5px;
			    width: @full;
			    background: @white;
			    border-radius: 0px;
			    opacity: 1;
			    left: 0;
			    transform: rotate(0deg);
			    transition: .25s ease-in-out;
			    &:nth-child(1) {
			      top: 0px;
			    }
			    &:nth-child(2) {
			      top: 19px;
			    }
			    &:nth-child(3) {
			      top: 19px;
			    }
			    &:nth-child(4) {
			      top: 38px;
			    }
			  }
			}
			#nav-icon3.open {
			  span {
			    background: #fff !important;
			    &:nth-child(1) {
			      top: 19px;
			      width: 0%;
			      left: 50%;
			    }
			    &:nth-child(2) {
			      transform: rotate(45deg);
			    }
			    &:nth-child(3) {
			      transform: rotate(-45deg);
			    }
			    &:nth-child(4) {
			      top: 19px;
			      width: 0%;
			      left: 50%;
			    }
			  }
			}
		}
		nav {
			width: @full;
			margin-top:30px;
			@media @tablet-portrait {
			    margin-top: 0px;
			    padding: 0px;
			    z-index: 1000;
			    position: absolute;
			    top: 140px;
			    left: 0px;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,002e5f+100&0.5+0,1+100 */
				background: -moz-linear-gradient(top,  rgba(30,87,153,0.5) 0%, rgba(0,46,95,1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  rgba(30,87,153,0.5) 0%,rgba(0,46,95,1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  rgba(30,87,153,0.5) 0%,rgba(0,46,95,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#801e5799', endColorstr='#002e5f',GradientType=0 ); /* IE6-9 */
				
				max-height: 0em;
				height: auto;
				overflow: hidden;
				transition: all .5s ease;
		
				-webkit-overflow-scrolling: touch;
			}
			@media @phones-portrait {
				background:@blue-light;
			}
			ul {
				.flex-center();
				@media @tablet-portrait {
					display:block;
				}
				li {
					position: relative;
					list-style: none;
					max-height: 33px;
					padding: 0 12px 0px 12px;
					border-right:3px solid @blue-dark;
					line-height: 12px;
    				padding-top: 2px;
					@media @tablet-portrait {
						max-height:inherit;
						padding-top:inherit;
						line-height:inherit;
					}
					&:hover {
						ul {
							display: block;
						}
						@media @smartphones {
							ul {
								display: none;
							}
						}
					}
					&:after {
						padding-left: 12px;
					}
					&:last-child {
						border-right:0px;
					}
					.active {
						color:@grey-dark;
						border-bottom: 3px solid;
						@media @tablet-portrait {
							background:@blue-dark;
					    	color:@white;
					    	border-bottom:0px;
						}
					}
					@media @tablet-portrait {
						border-right:0px;
						padding:0px;
					}
					ul {
						top: 100%;
						left: calc(-100% + 3rem);
						width: 300%;
						background-color: white;
						padding: 1.5rem;
						padding-top: 3rem;
						display: none;
						position: absolute;
						@media @tablet-portrait {
							position: relative;
							display: block;
							background-color: @btn-light;
						}
						@media @device-smartphones {
							display: none !important;
						}
						li {
							width: 100%;
							text-align: center;
							display: block;
							border-right: none;
							padding-bottom: 1.5rem;
							&:last-child {
								padding-bottom: 0;
							}
						}
					}
					a {
						font-family: 'Oswald';
						font-weight:lighter;
						color: @blue-dark;
						text-transform: uppercase;
						font-size:19px;
						letter-spacing:0.05em;
						&:hover {
							text-decoration:none;
							color:@grey-dark;
							border-bottom: 3px solid;
							@media @tablet-portrait {
								background:@blue-dark;
						    	color:@white;
						    	border-bottom:0px;
							}
						}
						@media @tablet-landscape {
							font-size:16px;
						}
						@media @tablet-portrait {
							font-size: 25px;
					    	padding: 15px 45px;
					    	display: block;
					    	color:@white;
					    	&:after {
								content: "";
								padding-left: 0px;
							}
							&:hover {
								text-decoration:none;
								background:@blue-dark;	
							}
					    }
					}
				}
			}
		}
		.open-menu {
		  max-height: ~"calc(100vh - 175px)";
		  height: 100%;
		}
	}
}


.wrapper-page {
	margin-top:125px;
	padding-bottom: 0px;
	@media @tablet-portrait {
		margin-top:110px;
	}
	@media @phones-portrait {
		margin-top: 118px;
	}
	.slider-page {
		width:@full;
		position:relative;
		margin-bottom:15px;
		@media @between-landscape-portrait {
			margin-bottom:30px;
		}
		@media @phones-portrait {
			margin-bottom: 15px;
		}
		.wrapper-slider {
			img {
				width:@full;
			}
		}
		.swiper-container {
			width: @full;
		}
		.swiper-slide {
			text-align: center;
			font-size: 18px;
			background: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				width:@full;
			}
		}
	}
	.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	    bottom: 7px;
	}
	.swiper-pagination-bullet-active {
	    opacity: 1;
	    background: @grey-dark;
	}
	.wpcf7 {
		width:@full;
		input {
			background:@white;
			color:@blue-dark;
			width:@full;
			margin-bottom:10px;
			border:0px;
		}
		input::placeholder {
		  color: @blue-dark;
		}
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: @blue-dark;
		}
		::-moz-placeholder { /* Firefox 19+ */
		  color: @blue-dark;
		}
		:-ms-input-placeholder { /* IE 10+ */
		  color: @blue-dark;
		}
		:-moz-placeholder { /* Firefox 18- */
		  color: @blue-dark;
		}
		select {
			width:@full;
			background:@white;
			margin-bottom:10px;
		}
		textarea {
			width:@full;
			max-width:@full;
			min-width:@full;
			max-height:359px;
			min-height:359px;
			border:0px;
			padding: 10px 3%;
		}
		input[type="submit"] {
			background:@btn-light;
			color:@white;
			&:hover {
				color:@blue-dark;
				background:@white;
			}
		}
		.wpcf7-response-output.wpcf7-validation-errors, span.wpcf7-not-valid-tip {
		    color: @white;
		    width: @full;
		    background: @blue-dark;
		    padding: 13px;
		    border: 0px;
		    margin:0px;
		    font-family: 'Oswald-lighter';
		}
		.wpcf7-response-output.wpcf7-mail-sent-ok {
		    color: @white;
		    width: @full;
		    background: @btn-light;
		    padding: 13px;
		    border: 0px;
		    margin:0px;
		    font-family: 'Oswald-lighter';
		}
	}
}


.one-col {
	p img {
		width:@full;
		height:auto;
	}
	img {
		width:@full;
		height:auto;
	}
}

.content-box-fat {
	padding: 60px 50px;
	@media @phones-portrait {
		padding: 35px 20px;
	}
	h1 {
		padding-bottom: 30px;
		-webkit-font-smoothing: antialiased;
	}
	h2 {
		.titles();
		padding-bottom: 30px;
		-webkit-font-smoothing: antialiased;
	}
	.btn {
		.btn-light();
		color:@white;
		@media @tablet-landscape {
			font-size:15px;
			width:@full;
		}
	}
}
.box-link {
	width:@full;
	display: flex;
    align-items: flex-end;
    justify-content: space-around;
	.btn {
		.btn-light();
		box-shadow:0px 4px 10px rgba(0,0,0,0.5);
	}
}
.content-box-small {
	padding:15px;
	h3 {
		font-family: 'Oswald-lighter';
		font-weight:lighter;
		text-transform:uppercase;
		padding-bottom: 5px;
		font-size: 30px;
    	text-align: center;
    	padding: 41px 0px 30px;
    	line-height: 40px;
    	color:@grey-dark;
	}
	h4 {
		.small-titles();
	} 
	p {
		text-align:center;
		.btn {
			.btn-light();
		}
	}
}

.blue-box {
	background: rgb(0,95,160); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,95,160,1) 0%, rgba(0,47,95,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,95,160,1) 0%,rgba(0,47,95,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,95,160,1) 0%,rgba(0,47,95,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005fa0', endColorstr='#002f5f',GradientType=0 ); /* IE6-9 */
	color:@white;
	h1, h2, h3, h4, p, a {
		color:@white;
	}
}








.grey-dark-box {
	background:@grey;
	h1, h2, h3, h4, p {
		color:@blue-dark;
	}
}

.grey-light-box {
	background:@grey-ultra-light;
	h1, h2, h3, h4, p {
	}
}
.white-bg {
	background:@white;
}

.italic {
	h1, h2, h3, h4, p {
		font-family: 'Lato-Italic';
		font-weight:lighter;
		font-size: 31px;
		line-height: 40px;
		text-align:left;
	}
}
.wrapper-page {
	.two-cols {
		@media @between-landscape-portrait {
			margin-bottom:30px;
		}
		@media @phones-portrait {
    		margin-bottom:15px;
		}
	}
	.one-third {
		@media @phones-portrait {
			margin-top: 0px;
		}
	}
}
.two-cols-similar {
	.flex-justify();
	@media @between-landscape-portrait {
		margin-top:30px;
	}
	@media @phones-portrait {
		margin-top:15px;
	}
	div {
		width:50%;
		@media @before-phones {
			width:@full;
			&:first-child {
				margin-bottom:30px;
			}
		}
		@media @phones-portrait {
			width:@full;
			&:first-child {
				margin-bottom:15px;
			}
		}
	}
}
.thumb-image {
	margin-bottom:15px;
	@media @between-landscape-portrait {
		margin-bottom:30px;
	}
	@media @phones-portrait {
		margin-bottom:15px;
	}
}

.full-image {
	width:@full;
	height:auto;
}
.top-image {
	margin-top: -15px;
}
.padding-top {
	padding-top:60px;
}

.no-content {
	display:block;
	font-size:0px;
	text-indent: -9999px;
	@media @between-landscape-portrait {
		display:none;
	}
}


.transports {
	text-align:@center;
	padding-top:50px;
	@media @phones-portrait {
		padding-top: 40px;
    	padding-bottom: 20px;
	}
	.rows {
		width:@full;
		padding-bottom:15px;
		h2 {
			font-family: 'Oswald-lighter';
			font-weight:lighter;
			color:@blue-dark;
			text-transform:uppercase;
			padding-bottom: 5px;
			font-size: 24px;
		}
		.flex-icons {
			.flex-center();
			align-items:@center;
			img {
				width:inherit;
				margin:0px;
				padding:0px;
				margin-right:5px;
			}
			span {
				color:@grey-dark;
				display: inline-block;
				font-size: 21px;
				font-weight: lighter;
				padding-left: 10px;
			}
		}
		.flex-icons-double {
			.flex-center();
			align-items:@center;
			div {
				.flex-center();
				align-items:@center;
				margin:0px 5px;
				&:first-child {
					margin-right:0px;
					&:after {
						content:"|";
						padding-left:5px;
					}
				}
				img {
					width:inherit;
					margin:0px;
					padding:0px;
					margin-right:5px;
				}
				span {
					color:@grey-dark;
					display: inline-block;
					font-size: 21px;
					font-weight: lighter;
					padding-left: 10px;
				}
			}
		}
	}	
}

.previous-building .icon-bg
{
	cursor: pointer;
	background: transparent url(images/arrows_icon.png) no-repeat;
	display: block;
	height: 82px;
	width: 27px;
	background-position: 0 0;
	background-size: 65px;
	margin: 0 auto;
	@media @smartphones
	{
		height: 40px;
		width: 20px;
		background-size: 44px;
	}
}

.next-building .icon-bg
{
	cursor: pointer;
	background: transparent url(images/arrows_icon.png) no-repeat;
	display: block;
	height: 82px;
	width: 50px;
	background-position: -30px -2px;
	background-size: 65px;
	margin: 0 auto;
	@media @smartphones
	{
		height: 50px;
		width: 20px;
		background-size: 49px;
	}
}

.sector-container {
	width:@full;
	margin-top:125px;
	font-family: 'Oswald-lighter';
	font-weight:lighter;
}