
/* List lots */
#list-lot-container {
	width:@full;
	margin-top:110px;
	@media @between-landscape-portrait {
		margin-top: 146px;
	}
	.vignette-lots {
		width:@full;
		.lot-item {
			font-family: 'Oswald-lighter' !important;
			.plan-lot {
				img {
					width:@full;
				}
			}
		}
	}
}

html body section.vignette-lots article {
	flex:inherit !important;
	max-width: inherit !important;
	position: relative !important;
	border: 1px solid #ddd !important;
	background-color: #F9F9F9 !important;
	width: calc(~"25% - 2%") !important;
	padding: 15px 15px 5px !important;
	margin: 0 1% !important;
	margin-bottom: 20px !important;
	@media @tablet-landscape {
		width: calc(~"33.333333% - 2%")!important;
	}
	@media @tablet-portrait {
		width: calc(~"50% - 2%")!important;
	}
	@media @before-phones {
		width: calc(~"100% - 0%")!important;
	}
	@media @smartphones {
		width: 100% !important;
		max-width: 100% !important;
	}
}

.btn-group-lot-list {
    position: relative;
    height: inherit !important;
    padding-bottom: 10px;
}
a.btn-situation,
span.btn-situation,
span.mobile-btn-lot.btn-lot.mobile-btn-situation {
    padding: 0 !important;
    background: #56b2f5 !important;
    font-size: 15px !important;
    text-transform: uppercase !important;
    font-family: 'Oswald-lighter' !important;
    border:0px !important;
    padding: 5px 10px !important;
    @media @tablet-portrait {
    	margin-bottom: 5px !important;
	}	
}
span.btn-situation,
span.mobile-btn-lot.btn-lot.mobile-btn-situation {
	color: white !important;
}
a.btn-lot {
    z-index: inherit !important;
    position: inherit !important;
    display: block;
    border: 0px !important;
    width: 100%;
    padding: 5px 0px;
    margin: 5px auto 0 auto;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: #fff !important;
    @media only screen and (max-width: 1024px) and (min-width: 737px) and (orientation: portrait) {
		a.btn-lot {
		    width: 80%;
		    position: initial;
		    margin-top: 5px;
		    margin: 5px auto 0 auto !important;
		}
	}
}
a.iframe-btn,
a.btn-lot.mobile-btn-lot {
    top: inherit !important;
    background:#002e5f !important;
    font-size: 15px !important;
    text-transform: uppercase !important;
    font-family: 'Oswald-lighter' !important;
    padding: 5px 10px!important;
}
article .lot-title {
	font-weight:lighter !important;
	font-family: 'Oswald-bold' !important;
	font-size:inherit !important;
	color:@blue-dark !important;
}

#list-lot-filter-group-btn span {
	background:#002e5f !important;
    font-size: 15px !important;
    text-transform: uppercase !important;
    font-family: 'Oswald-lighter' !important;
    color:@white !important;
}
#list-lot-filter-group-btn span .fa {
	color:@white !important;
	font-size:17px !important;
}
.list-lot-page {
	position: absolute;
    right: 10px;
    top: 4px;
    font-size: 26px;
    color:@blue-dark;
    a {
    	color:@blue-dark;
    }
}

#list-filter .action-filter #remove-filter {
    padding: 5px 15px !important;
    background-color: @blue-dark !important;
    color:@white !important;
    border: none;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
#list-filter .action-filter #remove-filter i {
    color:@white !important;
}
.fa-trash:before {
    content: "\f1f8";
    color:@white !important;
}



.lot-content .bloc-flex div {
	&:first-child img {
		width: @full;
	}
	&:last-child img {
		width: 60%;
	}
    
}
.lot-content {
	font-family: 'Oswald-lighter';
	font-weight:lighter;
	padding-bottom: 0px !important;
	h2 {
		border-bottom: 1px solid #ddd;
    	margin-bottom: 20px;
    	padding-bottom: 14px;
	}
}
.lot-title {
	color:@blue-dark;
}
.status-color-bullet, article .status-color-bullet {
    top: 11px;
}
.bloc-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.group-btn {
	padding-top:20px;
	border-top:1px solid #ddd;
}
.group-btn a {
	top: inherit!important;
    background: #002e5f!important;
    font-size: 15px!important;
    text-transform: uppercase!important;
    font-family: Oswald-lighter!important;
    padding: 5px 10px!important;
    color: #fff;
    padding: 12px 18px !important;
    &:first-child {
    	margin-right:20px;
    	background:#56b2f5!important;
    }
    i {
    	color:@white;
    	padding-left:10px;
    }
}
.fancybox-nav {
    height: 88% !important;
}

#smartcapture-form {
    max-width: 400px !important;
}
#smartcapture-form .wpcf7-form, #smartcapture-form .wpcf7-form p, #smartcapture-form .wpcf7-form p input {
    max-width: 400px !important;
}

.wpcf7-form input, .wpcf7-form select {
    width: 100% !important;
}

body.page-template-msc-attachment-request img.logo-form {
    margin-bottom: 38px !important;
}

div.wpcf7 {
    margin-top: 30px !important;
}

@media only screen and (max-width: 1024px) and (min-width: 737px) and (orientation: portrait) {
#list-lot-filter-group-btn span {
    width: 150px !important;
    padding: 15px !important;
    max-width: inherit !important;
    flex: inherit !important;
}
}
@media only screen and (max-width: 1024px) and (min-width: 737px) and (orientation: portrait) {
#list-lot-filter-group-btn {
    display: flex !important;
    width: 50% !important;
}
}
@media only screen and (max-width: 1024px) and (min-width: 737px) and (orientation: portrait) {
	#list-lot-filter-group-btn span:last-child {
		margin-top: 0px !important;
	}
}
@media only screen and (max-width: 1024px) and (min-width: 737px) and (orientation: portrait) {
	.bloc-flex {
		display: flex !important;
	}
}



/* Buildings */
#img-front-building {
	width:@full;
}
.base_status_lot {
	width:@full;
}
.hover_map_building {
	width:@full;
}

.building-container {
	width:@full;
	margin-top:125px;
	font-family: 'Oswald-lighter';
	font-weight:lighter;
}
.building-details img {
	width:@full;
}

.image_selected_map_building_front {
	width:@full !important;
}

.sector-title {
	.small-titles();
	padding-top:10px;
	padding-bottom:10px;
}
.building-title {
	.small-titles();
	padding-top:0px;
	padding-bottom:10px;
	text-transform: none;
	font-size: 20px;
	line-height: 26px;
}
.building-status-details p {
	font-family: 'Oswald-lighter';
	@media @tablets {
		font-size: 12px !important;
	}
}
.building-details .building-status-details p:first-child {
    font-family: 'Oswald' !important;
    font-weight:lighter !important;
}
.building-details .status-color-bullet, .building-details .building-status-details .status-color-bullet {
    top: 11px !important;
    margin: 0px 4px !important;
	@media @tablets {
		top: 6px !important;
	}
}
.rotate-building {
	display:none !important;
}
.building-lot-selector {
	position:relative;
	.view-switcher {
		position:absolute;
		right:0px;
		top:0px;
		z-index: 200;
		i {
			font-size:20px;
			color:@blue-dark;
		}
	}
}
.btn-siwtch-view-immo {
	i {
		color:@blue-dark;
	}
	@media @smartphones {
		display: none;
	}
}

#table_list_lots > tbody tr:nth-child(even) {
    background:#f8f8f8;
}
.details-plan {
	color:#fff !important;
	text-transform:uppercase !important;
	background:#56b2f5 !important;
	border:0px !important;
}
.download-plan {
	color:@white !important;
	border:0px !important;
	i {
		color:@white !important;
		padding-left:10px !important;
	}
}
#table_list_lots > tbody tr td {
    padding-left: 10px !important;
}
#table_list_lots > thead tr th {
    font-size: 13px;
    width: auto !important;
    max-width: 70px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-family: 'Oswald' !important; 
    font-weight: lighter !important; 
}
.building-container .selected-lot-list .btn-list-lot {
	margin-bottom:0px !important;
}

.building-container .selected-lot-list .details-plan {
	margin-bottom:0px !important;
}

#table_list_lots > tbody tr.selected-lot-list td {
    padding: 0 !important;
    padding-left: 10px !important;
}

.fancybox-inner .detail-popup {
    width: 100% !important;
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Oswald' !important;
    font-weight:lighter;
    .group-btn {
	    padding-top: 20px;
	    border-top: 1px solid #ddd;
	    height: 56px !important;
	}
	.popup-lot-title {
		color:@blue-dark !important;
	}
}

#table_list_lots > tbody tr td:last-child {
    padding-left: 20px;
    background-color: #fff;
    display: flex !important;
    justify-content: space-between !important;
    align-items:center;
}
.building-container .btn-list-lot {
    width: 48.5% !important;
    margin-bottom: 0px !important;
    align-self:stretch;
}
.building-container a.btn-list-lot {
	display: flex !important;
	align-items: center;
	justify-content: center;
    width: 48% !important;
	span {
		display: block;
		img {
			margin-left: 5px;
			margin-top: -4px;
			width: 16px;
			@media @tablets {
				display: none;
			}
		}
	}
	.fa {
		@media @tablets {
			display: none;
		}
	}
	@media @tablets {
		font-size: 12px !important;
	}
}

html body #table_list_lots tr td span.status-color-bullet {
	top: 8px;
}

#btn-switch-view-label {
	text-transform: uppercase;
	text-decoration: none;
	font-family: Oswald-lighter,sans-serif;
	font-size: 17px;
}

.meta-filter > span,
#room-filter > span,
#floor-filter > span,
#surface-filter > span,
#building-filter > span,
.filter-list .filter-item,
#list-filter .action-filter span.label-remove-filter {
	font-family: Oswald-lighter,sans-serif;
}

.fancybox-inner .lot-content,
#group-lot-situation .lot-content {

	padding: 3rem 0;
	background-color: @grey-ultra-ultra-light !important;
	border: 1px solid #ddd;

	section {
		width: 100%;
		display: flex;
		padding-bottom: 3rem;
		aside {
			flex: auto;
			width: 10%;
			display: flex !important;
			align-items: center;
			span {
				display: block;
				height: 52px;
				width: 35px;
				cursor: pointer;
				margin: 0 auto;
			}
			.previous-lot {
				background: transparent url(images/arrows_icon.png) no-repeat;
				background-position: 0 0;
				background-size: 65px;
				@media @smartphones {
					margin-left: 10px;
				}
			}
			.next-lot {
				background: transparent url(images/arrows_icon.png) no-repeat;
				background-position: -30px -2px;
				background-size: 65px;
				@media @smartphones {
					margin-right: 10px;
					background-position: -40px -2px;
				}
			}
		}
		div.content-lot-details {
			flex: auto;
			width: 80%;
			div:first-child {
				width: 100%;
				display: flex;
				border-bottom: 1px solid @grey-dark;
				padding-bottom: 10px;
				h2 {
					width: 40%;
					flex: auto;
					padding: 0;
					border: none;
					display: flex;
					margin: 0;
					align-items: center;
					.lot-title {
						font-size: 24px;
						font-family: 'Oswald', sans-serif;
						color: @blue-light;
						margin-right: 10px;
						@media @smartphones {
							font-size: 20px;
						}
					}
					.lot-details, .lot-status {
						font-size: 20px;
						font-family: 'Oswald-lighter', sans-serif;
						font-weight: lighter;
						color: #707070;
						@media @smartphones {
							font-size: 16px;
						}
					}
					.lot-status {
						.status-color-bullet {
							top: 10px;
						}
						@media @smartphones {
							float: none !important;
						}
					}
					@media @smartphones {
						margin-bottom: 5px;
					}
				}
				.group-btn {
					width: 15%;
					flex: auto;
					padding: 0;
					border: none;
					a {
						background: @blue-light !important;
						&:first-child {
							margin-right: 10px;
						}
						&:last-child {
							background:@btn-light !important;
						}
						@media @smartphones {
							width: 100% !important;
							margin: 0 0 5px 0;
						}
					}
					span {
						@media @smartphones {
							width: 100% !important;
							margin: 0;
						}
					}
					@media @smartphones {
						width: 100%;
						flex-wrap: wrap;
					}
				}
				@media @smartphones {
					width: 100%;
					flex-wrap: wrap;
				}
			}
			div:last-child {
				width: 100%;
				padding-top: 2rem;
				div {
					&:first-child {
						width: 66%;
						padding-right: 2%;
						border: none;
						padding-bottom: 0;
						img {
							width: 100%;
							max-height: 500px;
							max-width: 500px;
							margin: 0 auto;
						}
						@media @smartphones {
							width: 95% !important;
							margin: 0 auto;
						}
					}
					&:last-child {
						position: relative;
						width: 32%;
						&:before {
							top: 1.2rem;
							left: 2rem;
							font-size: 18px;
							content: 'position';
							position: relative;
							padding: 0 1rem;
							text-transform: uppercase;
							background-color: @grey-ultra-ultra-light;
						}
						img {
							width: 100%;
							&:first-child {
								border: 1px solid @grey-dark;
							}
						}
						@media @smartphones {
							width: 60% !important;
							margin: 0 auto;
						}
					}
				}
			}
			@media @smartphones {
				width: 100%;
				flex-wrap: wrap;
			}
		}
	}
}

.building-effect {
	@media @tablets {
		padding-top: 20%;
	}
}

#group-lot-situation {
	z-index: 10 !important;
}

html body #list-filter .action-filter span.label-remove-filter {
	left: 70px !important;
	bottom: 7px !important;
}

#popup-detail-lot-building {
	top: 100px;
	left: 100px;
	z-index: 1000;
	display: none;
	position: absolute;
	padding: 10px 20px;
	background-color: #fff;
	border: 1px solid #efefef;
	p {
		font-size: 15px !important;
		font-family: 'Oswald-lighter' !important;
		font-weight: lighter;
	}
}