/* COLOR THEME */
@blue-ultra-dark: #022e50;
@blue-dark: #002e5f;
@blue-dark-R: 0;
@blue-dark-V: 46;
@blue-dark-B: 95;
@blue-light: #005fa0;
@blue-light-R: 0;
@blue-light-V: 95;
@blue-light-B: 160;
@blue-light-button: #56b2f5;
@titles: #858aa9;
@sub-titles-texts: #4c4d4d;
@white: #fff;
@grey: #dfe0da;
@grey-dark: #959697;
@grey-light: #646464;
@grey-ultra-light: #eeeeee;
@grey-ultra-ultra-light: #f9f9f9;
@btn-light: #56b2f5;

/* MEDIAQUERIES */
@tablet-landscape:    ~"only screen and (max-width: 1024px)";
@between-landscape-portrait:    ~"only screen and (max-width: 1023px)";
@tablet-portrait:    ~"only screen and (max-width: 768px)";
@before-phones:    ~"only screen and (max-width: 200px)";
@phones-portrait:    ~"only screen and (max-width: 500px)";
@phones-320:    ~"only screen and (max-width: 400px)";

/* FONT SIZE */
@h1: 35px;
@h1l: 46px;
@h2: 18px;
@h2l: 30px;
@h3: 22px;
@h3l: 26px;
@p: 18px;
@pl: 31px;
@font-size-desktop: 16px;
@font-size-tablet: 14px;
@font-size-smartphone: 12px;

@small-title: 27px;
@small-lh: 39px;

.titles() {
	font-family: 'Oswald-lighter';
	font-weight:lighter;
	font-size:@h1;
	line-height:@h1l;
	color:@blue-dark;
	text-transform:uppercase;
	text-align:@center;
	padding-bottom: 60px;
	@media @between-landscape-portrait {
		font-size:30px;
		line-height:36px;
		padding-bottom: 30px;
	}
}

.sub-titles() {
	font-family: 'Lato-bold';
	font-weight:lighter;
	font-size: @h2;
	line-height: @h2l;
	color:#333;
	padding-bottom:30px;
}

.sub-sub-titles() {
	font-family: 'Oswald-lighter';
	font-weight:lighter;
	font-size: @h3;
	line-height: @h3l;
	color:#fff;
	padding-bottom:30px;
	text-transform:uppercase;
	text-align:center;
}

.small-titles() {
	font-family: 'Oswald-lighter';
	font-weight:lighter;
	font-size: @small-title;
	line-height: @small-lh;
	color:@blue-dark;
	padding-top:20px;
	text-transform:uppercase;
	text-align:center;
}

.texts() {
	font-family: 'Lato-lighter';
	font-weight:lighter;
	font-size: @p;
	line-height: @pl;
	color: @grey-light;
	@media @between-landscape-portrait {
		font-size:16px;
		line-height:23px;
	}
}

.btn() {
	background:@blue-light-button;
	padding: 10px 20px;
	font-size: 30px;
	text-transform: uppercase;
	font-family: 'Oswald-lighter';
	border-radius:0px;
	display:inline-block;
	margin:0px auto;
	transition:all .5s ease;
	&:hover {
		color:@blue-dark;
		background:@white;
	}
	@media @between-landscape-portrait {
		font-size:22px;
	}
}
.btn-light() {
	background:@btn-light;
	padding: 10px 30px;
	font-size: 30px;
	text-transform: uppercase;
	font-family: 'Oswald-lighter';
	border-radius:0px;
	display:inline-block;
	margin:0px auto;
	transition:all .5s ease;
	margin-top: 30px;
	width:auto;
	&:hover {
		color:@blue-dark;
		background:@white;
	}
	@media @between-landscape-portrait {
		font-size:22px;
	}
}

/*GRID*/
@full: 100%;
@fullvw: 100vw;
@fullvh: 100vh;
@max: 1080px;

@onecol: 33.333333%;
@twocol: 66.666666%;

@oncol-padding:calc(~"33.333333% - 15px");

@flex: flex;
@center: center;
@between: space-between;
@wrap: wrap;

.center-layout() {
	max-width:@max;
	width:@full;
	margin:0px auto;
}
.flex-center() {
    display:@flex;
    justify-content:@center;
    flex-wrap:@wrap;
}
.flex-justify() {
    display:@flex;
    justify-content:@between;
    flex-wrap:@wrap;
}


.one-col {
	width:@full;
}
