            <footer>

                <div class="inner-footer">
                    <h3>Contactez-nous</h3>
                    <div class="portrait">
                        <div class="min-one">
                            <div class="flex-one">
                                <div class="image">
                                    <img src="{{TimberImage(broker_picture).src}}" alt="{{broker_full_name}}">
                                </div>
                                <div class="text">
                                    <p>Vous pouvez contacter<br/>
                                    notre conseiller directement <br/>
                                    par téléphone.</p>
                                    <h4>{{broker_full_name}}</h4>
                                    <span class="tel">{{broker_phone}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="min-two">
                            <span class="mid-info">OU</span>
                        </div>
                        <div class="min-three">
                            <a class="btn" href="http://orion-aigle.ch/contact/">Formulaire de contact</a>
                            <a href="mailto:{{broker_email}}">{{broker_email}}</a>
                        </div>
                    </div>
                    <h3>découvrez d’autres promotions de Pierre Etoile</h3>
                    <div class="three-col">
                        <div class="min-one">
                            <a onclick="ga('send', 'event', 'external link', 'http://www.villasbelvedere.ch/', 'label')" class="other_promo" target="_blank" href="http://www.villasbelvedere.ch/">
                                <img src="{{template_path_uri}}/images/les_Villas_Belvedere.jpeg" alt="Villas Belv&eacute;d&egrave;re">
                            </a>
                            <h4>Villas Belv&eacute;d&egrave;re</h4>
                        </div>
                        <div class="min-one">
                            <a onclick="ga('send', 'event', 'external link', 'http://www.vuelac-lutry.ch/', 'label')" class="other_promo" target="_blank" href="http://www.vuelac-lutry.ch/">
                                <img src="{{template_path_uri}}/images/KP_PE_VL_3D_PANNEAU_CHANTIER-620x460.jpeg" alt="R&eacute;sidence Vue Lac Lutry">
                            </a>
                            <h4>R&eacute;sidence Vue Lac Lutry</h4>
                        </div>
                        <div class="min-one">
                            <a onclick="ga('send', 'event', 'external link', 'http://www.altair-aigle.ch/', 'label')" class="other_promo" target="_blank" href="http://www.altair-aigle.ch/">
                                <img src="{{template_path_uri}}/images/altair_640x460-620x460.jpeg" alt="Résidence Altaïr – Aigle">
                            </a>
                            <h4>Résidence Altaïr – Aigle</h4>
                        </div>
                    </div>
                </div>

                <div class="credits-footer">
                    <div class="logo-footer">
                        <a target="_blank" href="http://pierreetoile.ch/" title="Pierre Etoile">
                            <img src="{{template_path_uri}}/images/PIERRE_ETOILE_logo.svg" alt="">
                        </a>
                    </div>
                </div>

            </footer>

            {% block header %}{% endblock %}
            {% block content %}{% endblock %}
            {% block footer %}{% endblock %}
            {{function('wp_footer')}}

        </main>
        {% include 'partials/popup.html.twig' %}
        <!-- Jquery SwiperJS -->
        <script type="text/javascript" src="{{template_path_uri}}/js/swiper.min.js"></script>
        <script type="text/javascript" src="{{template_path_uri}}/js/homepage.js"></script>
    </body>
</html>