<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="{{site.charset}}" />
        <title>
            {% if wp_title %}
                {{ wp_title }} - {{ site.name }}
            {% else %}
                {{ site.name }}
            {% endif %}
        </title>
        <meta name="description" content="{{site.description}}">
        <link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css" media="screen" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-site-verification" content="AFlJHT-NLspZ06oAK76bJa8_BAB4cTYpRPMdaPxF0NQ" />
        <link rel="pingback" href="{{site.pingback_url}}" />
        <script  type="text/javascript" src="{{template_path_uri}}/js/jquery-3.2.0.min.js" type="text/javascript"></script>
        {{function('wp_head')}}
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-M4RC86T');</script>
        <!-- End Google Tag Manager -->
    </head>
    <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M4RC86T"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
        <main>

            <header class="header-home-page">
                <div class="header-inner">
                    <div id="logo-home">
                        <a href="{{ options.home }}">
                            <img src="{{TimberImage(promo_logo).src}}" alt="{{ post.title }}">
                        </a>
                    </div>
                    <nav>
                        <ul>
                            {% for item in menu.get_items %}
                            {% set current_menu = (item.object_id == post.id ) ? 'active' : '' %}
                                {% for child in item.get_children %}
                                    {% if child.object_id == post.id  %}
                                        {% set current_menu = 'active' %}
                                    {% endif %}
                                {% endfor %}
                            <li>
                                <a class="{{ current_menu }}" href="{{item.get_link}}">
                                    {{item.title}}
                                </a>
                                {% if item.get_children %}
                                    <ul>
                                      {% for child in item.get_children %}
                                          {% set current_menu = (child.object_id == post.id ) ? 'active' : '' %}
                                        <li>
                                            <a class="{{ current_menu }}" href="{{child.get_link}}">
                                                {{child.title}}
                                            </a>
                                        </li>
                                      {% endfor %}
                                    </ul>
                                 {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <div class="phone-burger">
                        <div id="nav-icon3">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </header>