<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="{{site.charset}}" />
        <title>
            {% if wp_title %}
                {{ wp_title }} - {{ site.name }}
            {% else %}
                {{ site.name }}
            {% endif %}
        </title>
        <meta name="description" content="{{site.description}}">
        <link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css" media="screen" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-site-verification" content="AFlJHT-NLspZ06oAK76bJa8_BAB4cTYpRPMdaPxF0NQ" />
        <link rel="pingback" href="{{site.pingback_url}}" />
        <script src="{{template_path_uri}}/js/jquery-3.2.0.min.js" type="text/javascript"></script>
        {{function('wp_head')}}
        <!-- Google Tag Manager -->
        <!-- End Google Tag Manager -->
        {% block style %}
            <link href="{{ plugin_path }}/meo-crm-core/css/font-awesome.min.css" rel="stylesheet">
            <link rel="stylesheet" href="{{ url_plugin }}/meo-crm-realestate-display/css/meo-crm-realestate-list-lot.css" type="text/css">
            <link rel="stylesheet" href="{{ url_plugin }}/meo-crm-realestate-display/css/meo-crm-realestate-building.css" type="text/css">
        {% endblock %}
    </head>
    <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M4RC86T"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
        <main>

            <header class="header-page-interne">
                <div class="header-inner">
                    <div class="header-top">
                        <div class="header-batiement">
                            <img src="{{image_header}}" alt="{{ post.title }}">
                        </div>
                        <div id="logo-home">
                            <a href="{{ options.home }}">
                                <img src="{{TimberImage(promo_logo_interne).src}}" alt="{{ post.title }}">
                            </a>
                        </div>
                        {% if info_header %}
                            <div class="header-promo">
                                <span class="low">{{ info_top_line }}</span>
                                <span class="high">{{ info_middle_line }}</span>
                                <span class="mid">{{ info_bottom_line }}</span>
                            </div>
                        {% endif %}
                    </div>
                    
                    <nav>
                        <ul>
                            {% for item in menu.get_items %}
                                {% set current_menu = (item.object_id == post.id ) ? 'active' : '' %}
                                {% for child in item.get_children %}
                                    {% if child.object_id == post.id  %}
                                        {% set current_menu = 'active' %}
                                    {% endif %}
                                {% endfor %}
                                <li>
                                    <a class="{{ current_menu }}" href="{{item.get_link}}">
                                        {{item.title}}
                                    </a>
                                    {% if item.get_children %}
                                        <ul>
                                            {% for child in item.get_children %}
                                                {% set current_menu = (child.object_id == post.id ) ? 'active' : '' %}
                                                <li>
                                                    <a class="{{ current_menu }}" href="{{child.get_link}}">
                                                        {{child.title}}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>

                    <div class="phone-burger">
                        <div id="nav-icon3">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </header>


            <section class="wrapper-content">

                {% block header %}{% endblock %}
                {% block content %}{% endblock %}
                {% block footer %}{% endblock %}

            </section>


            <footer>

                <div class="inner-footer">
                    <h3>Contactez-nous</h3>
                    <div class="portrait">
                        <div class="min-one">
                            <div class="flex-one">
                                <div class="image">
                                    <img src="{{TimberImage(broker_picture).src}}" alt="{{broker_full_name}}">
                                </div>
                                <div class="text">
                                    <p>Vous pouvez contacter<br/>
                                    notre conseiller directement <br/>
                                    par téléphone.</p>
                                    <h4>{{broker_full_name}}</h4>
                                    <span class="tel">{{broker_phone}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="min-two">
                            <span class="mid-info">OU</span>
                        </div>
                        <div class="min-three">
                            <a class="btn" href="http://orion-aigle.ch/contact/">Formulaire de contact</a>
                            <a href="mailto:{{broker_email}}">{{broker_email}}</a>
                        </div>
                    </div>
                    <h3>découvrez d’autres promotions de Pierre Etoile</h3>
                    <div class="three-col">
                        <div class="min-one">
                            <a onclick="ga('send', 'event', 'external link', 'http://www.villasbelvedere.ch/', 'label')" class="other_promo" target="_blank" href="http://www.villasbelvedere.ch/">
                                <img src="{{template_path_uri}}/images/les_Villas_Belvedere.jpeg" alt="Villas Belv&eacute;d&egrave;re">
                            </a>
                            <h4>Villas Belv&eacute;d&egrave;re</h4>
                        </div>
                        <div class="min-one">
                            <a onclick="ga('send', 'event', 'external link', 'http://www.vuelac-lutry.ch/', 'label')" class="other_promo" target="_blank" href="http://www.vuelac-lutry.ch/">
                                <img src="{{template_path_uri}}/images/KP_PE_VL_3D_PANNEAU_CHANTIER-620x460.jpeg" alt="R&eacute;sidence Vue Lac Lutry">
                            </a>
                            <h4>R&eacute;sidence Vue Lac Lutry</h4>
                        </div>
                        <div class="min-one">
                            <a onclick="ga('send', 'event', 'external link', 'http://www.altair-aigle.ch/', 'label')" class="other_promo" target="_blank" href="http://www.altair-aigle.ch/">
                                <img src="{{template_path_uri}}/images/altair_640x460-620x460.jpeg" alt="Résidence Altaïr – Aigle">
                            </a>
                            <h4>Résidence Altaïr – Aigle</h4>
                        </div>
                    </div>
                </div>

                <div class="credits-footer">
                    <div class="logo-footer">
                        <a target="_blank" href="http://pierreetoile.ch/" title="Pierre Etoile">
                            <img src="{{template_path_uri}}/images/PIERRE_ETOILE_logo.svg" alt="logo pierre etoile">
                        </a>
                    </div>
                </div>

            </footer>
        </main>
        {% block script %}{% endblock %}
        <!--<script type="text/javascript" src="{{template_path_uri}}/js/swiper.min.js"></script>-->
        <!--<script type="text/javascript" src="{{template_path_uri}}/js/homepage.js"></script>-->
    </body>
</html>