        <footer role="footer">
            <div class="wrapper">
                <h3>Contactez-nous</h3>
                <section id="footer-contact">
                    <div class="courtier-image">
                        <img src="{{ courtier.picture.url }}" alt="{{ courtier.full_name }}" />
                    </div>
                    <div class="courtier-data">
                                <span>
                                    <p>{{ text_courtier_footer }}</p>
                                    <p>{{ courtier.full_name }}</p>
                                    <p>{{ courtier.phone }}</p>
                                </span>
                    </div>
                    <div class="courtier-form-contact">
                                <span>
                                    <a href="http://orion-aigle.ch/contact/"><button class="button-footer">Formulaire de contact</button></a>
                                    <p>{{ courtier.email }}</p>
                                </span>
                    </div>
                </section>
                <section id="pe-list-projects">
                    <!-- Pierre etoile project list -->

                    <!-- / Pierre etoile project list -->
                </section>
                <section id="copyright">
                    <a target="_blank" href="http://pierreetoile.ch/" title="Pierre Etoile">
                        <img src="{{template_path_uri}}/images/logo_pierre_etoile.png" alt="Pierre &Eacute;toile" />
                    </a>
                </section>
            </div>
        </footer>

        {% include 'partials/popup.html.twig' %}

    </body>
</html>