<section class="slider-home">
    <div class="wrapper-slider">
	    <article>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for item in post.get_field('gallery') %}
                        <div class="swiper-slide">
                            <img src="{{TimberImage(item.image).src}}" alt="{{ post.title }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
	    </article>
	</div>
	<div class="logo-pierre-etoile">
	    <div class="inner-bottom">
	    	<img src="{{template_path_uri}}/images/PIERRE_ETOILE_logo.svg" alt="">
	    </div>
	</div>
</section>
<section class="wrapper-content">
    <h1>{{post.title}}</h1>
    {% for item in post.get_field('page_content') %}
        <div class="two-cols">
            <div class="two-third">
                {{item.content_1}}
            </div>
            <div class="one-third bg-grey">
                {{item.content_2}}
            </div>
        </div>      
    {% endfor %}    				
</section>