<section class="wrapper-content wrapper-page">
    {% if post.get_field('images_slider') %}
    <div class="slider-page">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for item in post.get_field('images_slider') %}
                <div class="swiper-slide">
                    <img src="{{TimberImage(item.image).src}}" alt="{{ post.title }}">
                </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    {% elseif featured_image %}
    <div class="one-col thumb-image">
        {{featured_image}}
    </div>
    {% else %}
        <!--void-->
    {% endif %}
    {% for item in post.get_field('page_content') %}
        {% if item.colonne == '2_1' %}
            <div class="two-cols">
                <div class="content-box-fat two-third {{item.classe_1}}" >
                    {{item.content_1}}
                </div>
                <div class="content-box-small one-third bg-grey {{item.classe_2}} {% if item.bloc_image_2 %}no-content{% endif %} " {% if item.bloc_image_2 %} style="background:url({{item.bloc_image_2}});background-size:cover; background-position:center; background-repeat:no-repeat;" {% endif %}>
                    {{item.content_2}}
                </div>
            </div>    
        {% elseif item.colonne == '1_1' %}
            <div class="one-col {{item.classe_1}}">
                {{item.content_1}}
            </div>
        {% elseif item.colonne == '2_2' %}
            <div class="two-cols-similar">
                <div class="{{item.classe_1}} first-box">
                    {{item.content_1}}
                </div>
                <div class="{{item.classe_2}}" {% if item.bloc_image_2 %} style="background:url({{item.bloc_image_2}});background-size:cover; background-position:center; background-repeat:no-repeat;" {% endif %}>
                    {{item.content_2}}
                </div>
            </div>
        {% elseif item.colonne == '1_2' %}
            <div class="two-cols">
                <div class="content-box-small one-third bg-grey {{item.classe_1}}">
                    {{item.content_1}}
                </div>
                <div class="content-box-fat two-third {{item.classe_2}}">
                    {{item.content_2}}
                </div>
            </div> 
        {% endif %}  
    {% endfor %}	
</section>