/*
    *** MEDIA QUERIES LESS *** 
    
    Path: theme/less/utility/media-queries-responsive.less 
    Created on : 29 sept. 2016, 08:21:57
    Author     : MEO
*/

/* tablette */
@tablets: ~"only screen and (min-device-width : 737px) and (max-device-width : 1024px)";

/* tablette portrait */ 
@tablets-portrait: ~"only screen and (min-device-width : 737px) and (max-device-width : 1024px) and (orientation : portrait)";

/* tablette landscale */ 
@tablets-landscape: ~"only screen and (min-device-width : 737px) and (max-device-width : 1024px) and (orientation : landscape)";

/* mobile portrait */ 
@smartphones: ~"only screen and (min-device-width: 320px) and (max-device-height: 736px)";

/* mobile portrait */ 
@smartphones-portrait: ~"only screen and (min-device-width: 320px) and (max-device-height: 736px) and (orientation : portrait)";

/* mobile landscale */
@iphone-landscale: ~"only screen and (min-device-width : 375px) and (max-device-width : 667px) and (width : 667px) and (height : 375px) and (orientation : landscape) and (color : 8) and (device-aspect-ratio : 375/667) and (aspect-ratio : 667/375) and (device-pixel-ratio : 2) and (-webkit-min-device-pixel-ratio : 2)";

/* small screen */
@small-screen: ~"only screen and (min-width: 320px) and (max-width: 1300px)";