html,
html body
{
  width: 100%;
  height: 100%;
  font-size: @font-size-desktop;

  @media @tablets
  {
    font-size: @font-size-tablet;
  }

  @media @smartphones
  {
    font-size: @font-size-smartphone;
  }
}

.wrapper
{
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  @media @tablets
  {
    width: 90%;
  }
  @media @smartphones
  {
    width: 100%;
    height: 100%;
  }
}

#landing-page
{
  width: 100%;
  height: 100%;
  color: blue;
  background-color: #333;
  background-size: cover;
  background-position: center center;
}

#landing-page h1
{
  color: @color-title;
}

#landing-page #slider
{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  @media @tablets, @smartphones
  {
    position: fixed;
  }
}

#landing-page .slide
{
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
}

#landing-page #content-header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#landing-page #content-header .wrapper
{
  height: 100%;
  padding: 20px 0;
  position: relative;
  background: -moz-linear-gradient(top,  rgba(3,16,47,1) 0%, rgba(20,40,73,0.3) 14%, rgba(35,60,95,0) 26%, rgba(125,185,232,0) 100%);
  background: -webkit-linear-gradient(top,  rgba(3,16,47,1) 0%,rgba(20,40,73,0.3) 14%,rgba(35,60,95,0) 26%,rgba(125,185,232,0) 100%);
  background: linear-gradient(to bottom,  rgba(3,16,47,1) 0%,rgba(20,40,73,0.3) 14%,rgba(35,60,95,0) 26%,rgba(125,185,232,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03102f', endColorstr='#007db9e8',GradientType=0 );
}

#landing-page #content-header .wrapper footer
{
  bottom: 0;
  width: 100%;
  position: absolute;
  padding: 4rem 0 2rem 0;
  background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(20,61,115,0) 36%, rgba(3,16,47,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(20,61,115,0) 36%,rgba(3,16,47,1) 100%);
  background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(20,61,115,0) 36%,rgba(3,16,47,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#03102f',GradientType=0 );
  @media @tablets, @smartphones
  {
    position: relative;
  }
}

#landing-page #content-header .wrapper footer a img
{
  width: 20%;
  margin: 0 auto;
  display: block;
  @media @tablets
  {
    width: 30%;
  }
  @media @smartphones
  {
    width: 50%;
  }
}

#landing-page .logo-orion
{
  width: 20%;
  margin: 0 auto;
  display: block;
  @media @tablets
  {
    width: 30%;
  }
  @media @smartphones
  {
    width: 50%;
  }
}

.link-logo-pe
{
  width: 100%;
  position: absolute;
  bottom: 20px;
}

.logo-pe
{
  width: 40%;
  margin: 0 auto;
}

/* Content */

div.main
{
  display: flex;
  width: 100%;
}
  div.main > div
  {
    width: 50%;
    flex: auto;
  }
  div.main > div:first-child
  {
    background-color: #fff;
  }
  div.main > div:last-child
  {
    padding-left: 2rem;
  }

    div.main > div:last-child > div
    {
      height: 50%;
      max-height: 50%;
    }

      div.main > div:last-child > div > a
      {
        display: flex;
        color: #fff;
        height: calc(100%-1rem);
        border: 1px solid red;
        background-color: @blue;
      }
      div.main > div:last-child > div:last-child > a
      {
        background-color: @blue-light;
      }

        div.main > div:last-child > div > a > div
        {
          flex: auto;
        }

          div.main > div > div > a > div > img
          {
            max-width: 100%;
            max-height: 100%;
          }
          div.main > div > div:last-child > a > div > img
          {
            border-radius: 50rem;
          }


    div.main > div > div > a.fancybox-smartcapture.btn-mobile
    {
      display: none;
    }