h1
{
  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 0rem;
}
h2
{
  font-family: 'Oswald', sans-serif;
  font-size: 1.4rem;
  color: @blue;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
h3
{
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
p
{
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  margin-bottom: 0.8rem;
  color: @blue;
}
a
{
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: @text-color;
}
a:hover
{
  text-decoration: none;
  color: @blue-light;
}