/* FOOTER */
footer
{
  width: 100%;
  color: #fff;
  background-color: @background-footer;
  border-color: @color-border-footer;
}
footer .wrapper p
{
  color: #fff;
}
footer .wrapper
{
  background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(12,42,96,0) 61%, rgba(0,14,59,0.8) 100%);
  background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(12,42,96,0) 61%,rgba(0,14,59,0.8) 100%);
  background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(12,42,96,0) 61%,rgba(0,14,59,0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#cc000e3b',GradientType=0 );
  padding: 35px 0 50px 0;
}
footer .wrapper h3,
footer .wrapper #footer-contact
{
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid @color-border-footer;
}
footer .wrapper h3
{
  text-align: center;
}
footer .wrapper #copyright
{
  width: 100%;
}
footer .wrapper #copyright img
{
  width: 40%;
  margin: 0 auto;
  max-width: 250px;
  display: block;
}

footer #footer-contact
{
  width: 100%;
  display: flex;
  color: #fff;
  position: relative;
}
footer #footer-contact > div
{
  flex: auto;
  width: 35%;
  &:first-child
  {
    width: 25%;
  }
  &:last-child
  {
    content: 'OU';
    color: #fff;
  }
}
footer #footer-contact .courtier-image img
{
  width: 70%;
  max-width: 70%;
  border-radius: 200px;
  display: block;
  margin: 0 auto;
}

footer #footer-contact .courtier-data span
{
  width: 80%;
  display: block;
  .mixin-vertical-align(relative);
}
footer #footer-contact .courtier-form-contact > span
{
  display: block;
  .mixin-vertical-align(relative);
}
footer #footer-contact .courtier-form-contact > span > button
{
  background-color: @blue-light;
  padding: 1rem 1.5rem;
  border: none;
  margin-bottom: 1rem;
}