html,
html body
{
  width: 100%;
  height: 100%;
  font-size: @font-size-desktop;
}

.wrapper
{
  width: 80%;
  margin: 0 auto;
  max-width: 1000px;
}

/* HEADER */

header
{
  width: 100%;
  height: 100%;
  background-color: #333;
  background-size: cover;
  background-position: center center;
}

header #slider
{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

header .slide
{
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
}

header #content-header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header #content-header .wrapper
{
  height: 100%;
  padding: 20px 0;
  position: relative;
  background: -moz-linear-gradient(top,  rgba(0,46,95,0.9) 0%, rgba(0,46,95,0) 15%, rgba(0,46,95,0) 89%, rgba(0,46,95,0.9) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,46,95,0.9) 0%,rgba(0,46,95,0) 15%,rgba(0,46,95,0) 89%,rgba(0,46,95,0.9) 100%);
  background: linear-gradient(to bottom,  rgba(0,46,95,0.9) 0%,rgba(0,46,95,0) 15%,rgba(0,46,95,0) 89%,rgba(0,46,95,0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6002e5f', endColorstr='#e6002e5f',GradientType=0 );
}

header img
{
  width: 20%;
  max-width: 250px;
  margin: 0 auto;
  display: block;
}

.logo-orion
{
  width: 20%;
  margin: 0 auto;
}

.link-logo-pe
{
  width: 100%;
  position: absolute;
  bottom: 20px;
}

.logo-pe
{
  width: 40%;
  margin: 0 auto;
}

nav
{
  width: 70%;
  margin: 50px auto 0 auto;
}

nav > ul
{
  display: flex;
  width: 100%;
  list-style: none;
}

nav > ul > li
{
  flex: auto;
  color: #fff;
  border-right: 1px solid #fff;
  list-style: none;
  text-align: center;
}
nav > ul > li:last-child
{
  border: none;
}
nav > ul > li > a
{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

/* Content */
div.main
{
  width: 100%;
  padding: 100px 0;
  border-color: @color-border-content;
}