html,
html body
{
  width: 100%;
  height: 100%;
  font-size: @font-size-desktop;

  @media @tablets
  {
    font-size: @font-size-tablet;
  }

  @media @smartphones
  {
    font-size: @font-size-smartphone;
  }
}

.wrapper
{
  width: 80%;
  margin: 0 auto;
  max-width: 1000px;
  @media @tablets
  {
    width: 90%;
  }
  @media @smartphones
  {
    width: 100%;
    height: 100%;
  }
}

#landing-page
{
  width: 100%;
  height: 100%;
  color: blue;
  background-color: #333;
  background-size: cover;
  background-position: center center;
}

#landing-page h1
{
  color: @color-title;
}

#landing-page #slider
{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  @media @tablets, @smartphones
  {
    position: fixed;
  }
}

#landing-page .slide
{
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
}

#landing-page #content-header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#landing-page #content-header .wrapper
{
  height: 100%;
  padding: 20px 0;
  position: relative;
  background: -moz-linear-gradient(top,  rgba(3,16,47,1) 0%, rgba(20,40,73,0.3) 14%, rgba(35,60,95,0) 26%, rgba(125,185,232,0) 100%);
  background: -webkit-linear-gradient(top,  rgba(3,16,47,1) 0%,rgba(20,40,73,0.3) 14%,rgba(35,60,95,0) 26%,rgba(125,185,232,0) 100%);
  background: linear-gradient(to bottom,  rgba(3,16,47,1) 0%,rgba(20,40,73,0.3) 14%,rgba(35,60,95,0) 26%,rgba(125,185,232,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03102f', endColorstr='#007db9e8',GradientType=0 );
}

#landing-page #content-header .wrapper footer
{
  bottom: 0;
  width: 100%;
  position: absolute;
  padding: 4rem 0 2rem 0;
  background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(20,61,115,0) 36%, rgba(3,16,47,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(20,61,115,0) 36%,rgba(3,16,47,1) 100%);
  background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(20,61,115,0) 36%,rgba(3,16,47,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#03102f',GradientType=0 );
  @media @tablets, @smartphones
  {
    position: relative;
  }
}

#landing-page #content-header .wrapper footer a img
{
  width: 20%;
  margin: 0 auto;
  display: block;
  @media @tablets
  {
    width: 30%;
  }
  @media @smartphones
  {
    width: 50%;
  }
}

#landing-page .logo-orion
{
  width: 20%;
  margin: 0 auto;
  display: block;
  @media @tablets
  {
    width: 30%;
  }
  @media @smartphones
  {
    width: 50%;
  }
}

.link-logo-pe
{
  width: 100%;
  position: absolute;
  bottom: 20px;
}

.logo-pe
{
  width: 40%;
  margin: 0 auto;
}

/* Content */
div.main
{
  top: 30%;
  width: 100%;
  height: 550px;
  padding: 100px 4%;
  display: flex;
  position: relative;
  transform: translateY(-50%);
  @media @tablets, @smartphones
  {
    top: 0;
    width: 85%;
    height: auto;
    flex-wrap: wrap;
    transform: none;
    padding: 30px 0;
    margin: 0 auto;
  }
}
div.main > div
{
  width: 50%;
  height: 100%;
  display: block;
  @media @tablets, @smartphones
  {
    width: 100%;
  }
}
  div.main > div > div > a,
  div.main > div > div > a > div,
  div.main > div > div > a > div > p
  {
    color: #fff;
  }
  div.main > div > div:last-child > a,
  div.main > div > div:last-child > a > div,
  div.main > div > div:last-child > a > div > p
  {
    color: @blue;
  }
  /*div.main > div:first-child
  {
    margin-right: 2%;
    background-color: #fff;
    padding: 2rem;
    @media @tablets, @smartphones
    {
      margin-right: 0;
    }
  }*/
    div.main > div:last-child > div
    {
      display: block;
      height: 47.5%;
      width: 100%;
      @media @tablets, @smartphones
      {
        height: auto;
        padding: 1rem 0;
      }
    }
    div.main > div:last-child > div:first-child
    {
      background-color: @blue;
      margin-bottom: 1rem;
      @media @tablets, @smartphones
      {
        margin-bottom: 0;
      }
    }
    div.main > div:last-child > div:last-child
    {
      background-color: @blue-light;
    }
      div.main > div > div > a.fancybox-smartcapture.btn-mobile
      {
        display: none;
        @media @tablets, @smartphones
        {
          display: block;
        }
      }
      @media @tablets, @smartphones
      {
        div.main > div > div > a.fancybox-smartcapture.smartcapture
        {
          display: none;
        }
      }
      div.main > div > div > a
      {
        width: 85%;
        display: flex;
        margin: 0 auto;
        .mixin-vertical-align(relative);
        @media @tablets, @smartphones
        {
          top: 0;
          transform: none;
          flex-wrap: wrap;
        }
      }
        #landing-page div.main > div > div > a > div
        {
          width: 30%;
          display: block;
          margin: 0 5% 0 0;
          @media @tablets, @smartphones
          {
            margin: 0 auto;
          }
        }
          #landing-page div.main > div > div > a > div:last-child
          {
            width: 70%;
          }

          #landing-page div.main > div > div > a > div > img
          {
            width: 100%;
            @media @tablets, @smartphones
            {
              top: 0;
              transform: none;
              margin-bottom: 1rem;
            }
          }
          #landing-page div.main > div:last-child > div:last-child > a > div > img
          {
            border-radius: 60px;
            @media @tablets, @smartphones
            {
              margin-bottom: 3rem !important;
            }
          }
        div.main > div > div > a > div
        {
          width: 65%;
          display: block;
          margin: 0 auto;
          @media @tablets, @smartphones
          {
            width: 100%;
            text-align: center;
          }
        }
          div.main > div > div > a > div > div
          {
            .mixin-vertical-align(relative);
          }
          div.main > div > div > a > div > div > p
          {
            display: block;
            @media @tablets, @smartphones
            {
              top: 0;
              transform: none;
            }
          }
          div.main > div:last-child > div:last-child > a > div > p > span
          {
            text-transform: uppercase;
          }

@media @tablets, @smartphones
{
  div.main > div:last-child > div:last-child > a > div:last-child
  {
    width: 100% !important;
  }
}
