/* COLOR THEME */

@blue: #03102F;
@blue-R: 3;
@blue-V: 16;
@blue-B: 47;

@blue-light: #56b2f5;
@blue-light-R: 43;
@blue-light-V: 56;
@blue-light-B: 137;

@background-footer: #002E5F;

@color-title: #808f91;
@color-border-content: #eaeaea;
@color-border-footer: #426488;

@text-color: #333;


/* FONT SIZE */

@font-size-desktop: 16px;
@font-size-tablet: 14px;
@font-size-smartphone: 12px;