footer #footer-contact {
  width: 100%;
  display: flex;
  color: #fff;
  position: relative;
}
footer #footer-contact > div {
  flex: auto;
  width: 33%;
}
footer #footer-contact .courtier-image img {
  width: 90%;
  max-width: 90%;
  border-radius: 50px;
}
footer #footer-contact .courtier-data span {
  width: 80%;
}
