<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="{{site.charset}}" />
        <title>
            {% if wp_title %}
                {{ wp_title }} - {{ site.name }}
            {% else %}
                {{ site.name }}
            {% endif %}
        </title>
        <meta name="description" content="{{site.description}}">
        <link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css" media="screen" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="pingback" href="{{site.pingback_url}}" />
        <script src="{{template_path_uri}}/js/jquery-3.2.0.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
        {{function('wp_head')}}
    </head>
    <body>

        <header role="header" data-count="0">

            <section id="slider">

                {% for gallery in galleries %}
                    <div class="slide" style="background-image: url('{{ gallery.url }}');">
                        &nbsp;
                    </div>
                {% endfor %}

            </section>
            <section id="content-header">
                <div class="wrapper">
                    <a target="_blank" href="" title="">
                        <img class="logo-orion" src="{{template_path_uri}}/images/logo_orion.png" alt="Residence Aigle Orion" />
                    </a>
                    <nav role="navigation">
                        <ul>
                            <li><a href="" title="">menu</a></li>
                            <li><a href="" title="">menu</a></li>
                            <li><a href="" title="">menu</a></li>
                            <li><a href="" title="">menu</a></li>
                            <li><a href="" title="">menu</a></li>
                            <li><a href="" title="">menu</a></li>
                        </ul>
                    </nav>
                    <a class="link-logo-pe" target="_blank" href="" title="">
                        <img class="logo-pe" src="{{template_path_uri}}/images/logo_pierre_etoile.png" alt="Pierre &Eacute;toile" />
                    </a>
                </div>
            </section>
        </header>
        <div class="main" role="main">
            <div class="wrapper">
                <h1>{{ post.post_title }}</h1>
                {{ post.post_content }}
            </div>
        </div>
        <footer role="footer">
            <div class="wrapper">
                <h3>Contactez-nous</h3>
                <section id="footer-contact">
                    <div class="courtier-image">
                        <img src="{{ courtier.picture.url }}" alt="{{ courtier.full_name }}" />
                    </div>
                    <div class="courtier-data">
                        <span>
                            <p>{{ text_courtier_footer }}</p>
                            <p>{{ courtier.full_name }}</p>
                            <p>{{ courtier.phone }}</p>
                        </span>
                    </div>
                    <div class="courtier-form-contact">
                        <span>
                            <button class="button-footer">Formulaire de contact</button>
                            <p>{{ courtier.email }}</p>
                        </span>
                    </div>
                </section>
                <section id="pe-list-projects">
                    <!-- Pierre etoile project list -->
                </section>
                <section id="copyright">
                    <a target="_blank" href="" title="">
                        <img src="{{template_path_uri}}/images/logo_pierre_etoile.png" alt="Pierre &Eacute;toile" />
                    </a>
                </section>
            </div>
        </footer>
        <script type="text/javascript">
            window.$ = jQuery;

            $(function(){

                var $slides = $("#slider .slide");
                var $slidesTXT = $("#slider-txt .slide-txt");
                var currentSlide = 0;
                var stayTime = 6;
                var slideTime = 2.5;

                TweenLite.set($slides.filter(":gt(0)"), {scale: 1, autoAlpha:0});
                TweenLite.delayedCall(stayTime, nextSlide);

                function nextSlide()
                {
                    TweenLite.to( $slides.eq(currentSlide), slideTime, {scale: 1, autoAlpha:0} );
                    currentSlide = ++currentSlide % $slides.length;
                    TweenLite.to( $slides.eq(currentSlide), slideTime, {scale: 1, autoAlpha:1} );
                    TweenLite.delayedCall(stayTime, nextSlide);
                }

            });

        </script>
    </body>
</html>