<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="{{site.charset}}" />
        <title>
            R&eacute;sidence Orion Aigle | Pierre Etoile
        </title>
        <meta name="description" content="{{site.description}}">
        <link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css" media="screen" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="pingback" href="{{site.pingback_url}}" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
        <script src="{{template_path_uri}}/js/jquery-3.2.0.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            $ = jQuery.noConflict();
        </script>

        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.meoanalytics.com/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 32670486]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
                g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><p><img src="http://piwik.meoanalytics.com/piwik.php?idsite=32670486" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->

        <!-- HEADER WORDPRESS START -->
        {{function('wp_head')}}
        <!-- HEADER WORDPRESS END -->
    </head>
    <body>
        <div id="landing-page">
            <section id="slider">

                {% for gallery in galleries %}
                    <div class="slide" style="background-image: url('{{ gallery.url }}');">
                        &nbsp;
                    </div>
                {% endfor %}

            </section>
            <section id="content-header">
                <div class="wrapper">

                    <header role="header" data-count="0">
                        <a target="_blank" href="" title="">
                            <img class="logo-orion" src="{{template_path_uri}}/images/logo_orion.png" alt="Residence Aigle Orion" />
                        </a>
                    </header>

                    <div class="main" role="main">
                        <div>
                            {{ post.post_content }}
                        </div>
                        <div>
                            <div>
                                <a class="fancybox-smartcapture smartcapture fancybox.iframe" href="{{ options.home }}/file-request/" title="Laisser-nous vos coordonnées">
                                    <div>
                                        <img src="{{template_path_uri}}/images/mail.png" />
                                    </div>
                                    <div>
                                        <p>laissez vos coordonnées ici pour être contacté lors de la commercialisation</p>
                                    </div>
                                </a>
                                <a rel="external" class="fancybox-smartcapture btn-mobile" href="{{ options.home }}/file-request/" title="Laisser-nous vos coordonnées">
                                    <div>
                                        <img src="{{template_path_uri}}/images/mail.png" />
                                    </div>
                                    <div>
                                        <p>laissez vos coordonnées ici pour être contacté lors de la commercialisation</p>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a href="tel:{{ courtier.phone }}" title="Appeler le courtier">
                                    <div><img src="{{ courtier.picture.url }}" alt="{{ courtier.full_name }}" /></div>
                                    <div>
                                        <div>
                                            <p>
                                                {{ courtier.poste }}
                                                <br/>
                                                <span>{{ courtier.full_name }}</span>
                                                <br>
                                                {{ courtier.phone }}
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <footer>
                        <a target="_blank" href="http://www.pierreetoile.ch/" title="Pierre Etoile">
                            <img src="{{template_path_uri}}/images/logo_pierre_etoile.png" alt="Pierre &Eacute;toile" />
                        </a>
                    </footer>

                </div>
            </section>
        </div>
        <script type="text/javascript">

            $(document).ready(function(){
                $('.fancybox').fancybox({
                    width: 400
                });
                $('.smartcapture').fancybox({
                    'width': 400,
                    'height': 800,
                    'autoDimensions': false,
                    'type': 'iframe',
                    'autoSize': false
                });
            });

            $(function(){

                var $slides = $("#slider .slide");
                var $slidesTXT = $("#slider-txt .slide-txt");
                var currentSlide = 0;
                var stayTime = 6;
                var slideTime = 2.5;

                TweenLite.set($slides.filter(":gt(0)"), {scale: 1, autoAlpha:0});
                TweenLite.delayedCall(stayTime, nextSlide);

                function nextSlide()
                {
                    TweenLite.to( $slides.eq(currentSlide), slideTime, {scale: 1, autoAlpha:0} );
                    currentSlide = ++currentSlide % $slides.length;
                    TweenLite.to( $slides.eq(currentSlide), slideTime, {scale: 1, autoAlpha:1} );
                    TweenLite.delayedCall(stayTime, nextSlide);
                }

            });

        </script>
        {{ function('wp_footer') }}
    </body>
</html>