sub,
sup {
  font-size: 10px !important;
}
#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
#popup #popup-container {
  position: relative;
  z-index: 1002;
  width: 620px;
  margin: 200px auto 0 auto;
  padding: 30px 40px;
  color: #fff;
  background-color: #05264E;
  background: -webkit-radial-gradient(#008ccc, #05264e);
  background: -o-radial-gradient(#008ccc, #05264e);
  background: -moz-radial-gradient(#008ccc, #05264e);
  background: radial-gradient(#008ccc, #05264e);
}
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  #popup #popup-container {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
#popup #popup-container .logo {
  width: 219px;
  margin: 0 auto 75px auto;
}
#popup #popup-container .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#popup #popup-container .container h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 40px;
  text-transform: uppercase;
  text-align: right;
  margin: 0;
  padding: 0;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  #popup #popup-container .container h1 {
    text-align: center;
  }
}
#popup #popup-container .container p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  text-align: right;
  margin: 23px 0 0 0;
  padding: 0;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  #popup #popup-container .container p {
    text-align: center;
  }
}
#popup #popup-container .container h1,
#popup #popup-container .container p {
  color: white;
}
#popup #popup-container .container .col-1 {
  width: 55%;
  padding-right: 2.5%;
  margin-right: 2.5%;
  border-right: 1px solid white;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  #popup #popup-container .container .col-1 {
    width: 100%;
    border-right: none;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
#popup #popup-container .container .col-2 {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  #popup #popup-container .container .col-2 {
    width: 100%;
    border-right: none;
  }
}
#popup #popup-container .container .col-2 img {
  width: 100%;
}
#popup #popup-container .container .col-2 .full-popup-image {
  width: 100%;
  background-position: center;
  background-size: cover;
  margin-bottom: 8px;
}
#popup #popup-container .container .col-2 .col-left-img {
  width: 48%;
  margin-right: 2%;
  background-size: cover;
  background-position: center;
}
#popup #popup-container .container .col-2 .col-right-img {
  width: 48%;
  margin-left: 2%;
  background-size: cover;
  background-position: center;
}
#popup #popup-container .container-bottom {
  margin: 45px auto 0 auto;
}
#popup #popup-container .container-bottom .btn-popup-link {
  display: block;
  background-color: #0097D8;
  padding: 20px 30px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  width: 220px;
  margin: 5px auto 0 auto;
}
#popup #popup-container .container-bottom .close-popup {
  display: block;
  text-decoration: underline;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #fff;
  text-align: center;
  font-weight: normal;
  margin: 25px auto 0 auto;
}
